body{
    margin: 0;
    font-family: helvetica;
    line-height: 2;
}
.con{
    padding: 10px;
}
header{
    width: 100%;
    background-color: #492d76;
}
aside{
    width: 100%;
    display: block;
    margin: 0 auto;
}
side{
    width: 23%;
    display: block;
    background-color: #57d3cd;
    margin: 1%;
    float: left;
}
side>.con>img{
    width: 120px;
    float: left;
    margin-right: 10px;
}
@media only screen and (max-width:1200px){
    side>.con>img{
        width: 100%;
    }
}
@media only screen and (max-width:870px){
    header{
        background-color: #ef6c00;
        padding: 20px 0 20px 0;
    }
    side{
        width: 98%;
    }
    side>.con>img{
        width: 50%;
    }
}